@charset "utf-8";

*{
 margin:0;
 padding:0;
}

body{
 background-color: gray;
 margin:65px 0 0 0;
}
#pad{
  margin: 115px 0 0 0;
}
header{
 background-color: skyblue;
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 font-size: 30px;
 font-weight: bold;
 padding: 3px 0;
}
#dot_pic{
 
}

#main{
 background-color: white;
 width: calc(100% - 200px);
 min-width: 500px;
 float: left;
}

footer{
 background-color: skyblue;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 padding: 5px 0;
 clear: both;
}

#gnav ul {
  overflow: hidden;
}
#gnav li {
  float: left;
  width: 19.7%;
  border-left: white 1px solid;
  list-style-type: none;
}

#gnav a {
  display: block;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  background: darkblue;
  color: white;
}
#gnav a:hover {
  background: lightblue;
  color: black;
}
#gnav a:after {
  clear: both;
}
#gnav div.img {
  display: table-cell;
  vertical-align: middle;
  background: url(../img/icon_sprite.jpg) no-repeat;
  width: 40px;
  height: 40px;
}
#gnav div.text{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px;
}
div.img#home{ background-position: -440px -40px;}
div.img#content1{ background-position: -320px -40px;}
div.img#content2{ background-position: -480px -120px;}
div.img#help{ background-position: -760px -200px;}
div.img#faq{ background-position: -560px -160px;}

#gnav2{
  position: fixed;
  left: 0;
  top: 65px;
  width: 100%;
}
